.stock-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -15%;
    font-size: 20px;
}

.stock-info-container .stock-info-container__result {
    margin-top: 8px;
}