.stock-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stock-info-container .stock-info-container__result {
    margin-top: 8px;
}